name: run tests with aws credentials
on:
  push:
    branches:
      - main
jobs:
  run-tests:
    name: run-tests
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: eu-west-2 
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      
      - name: Install Make
        run: sudo apt-get update && sudo apt-get install -y make

      - name: make dev setup
        run: make dev-setup

      - name: make run all
        run: make run-all
        
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION}}